:root {
    /* font weight */
    --fw-reg: 300;
    --fw-bold: 400;

    /* colors */
    --cir-light: #f5f5f5;
    --cir-dark: #4b4b4b;
    --cir-accent: #85d647;

    /* border radius */

    --br: 17px;

    --box-shadow: 0.25em 0.25em 0.75 #00000040;
}

::selection {
    background-color: #c9a77a99;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-reg);
    margin: 0;
    background-color: #d8d8d8;
    color: var(--cir-dark);
}

header {
    background-image: url(Images/header.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    margin: 20px;
    height: 250px;
    border-radius: 25px;
}

* {
    box-sizing: border-box;
}

/* section {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
} */

img {
    user-select: none;
}

button {
    user-select: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* nav */

.navbar {
    /* height: 59px; */
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cir-dark);
    border-radius: 0 0 var(--br) var(--br);
}

.search {
    margin-left: 0 10px;
    padding: 15px 20px;
    width: 300px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--cir-light);
    color: var(--cir-dark);
    border-radius: var(--br);
    border: none;
    outline: none;
}

input::placeholder  {
    color: #a3a3a3;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-left: 15px;
    width: 46px;
    height: 46px;
}

.logo-text {
    margin-left: 6px;
    font-weight: 700;
    font-size: 17px;
    color: var(--cir-light);
}

.navbar a {
    color: var(--cir-light);
    text-decoration: none;
}

.navbar-item {
    padding: 16.5px 20px;
    margin: 0 5px;
    border-radius: var(--br);
    font-weight: 500;
}

.navbar a:hover {
    background-color: var(--cir-accent);
    transition: 0.6s ease-out;
}

.navbar a.active {
    background-color: rgb(39, 39, 39);
}

.list {
    margin: 5px 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bars {
    color: #f2f2f2;
    padding: 16.5px 16.5px;
}

.nav-bars:hover {
    color: var(--cir-accent);
    transition: 0.6s ease-out;
}

#toggler,
.navbar .nav-bars {
    display: none;
}

@media screen and (max-width: 880px) {
    .menu {
        /* padding: 12px 0; */
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .navbar a {
        padding: 16.5px 100px;
        width: 100%;
        margin: 5px;
    }

    .navbar a:hover {
        background-color: inherit;
        color: var(--cir-accent);
        transition: 0.6s ease-out;
    }

    .list {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .navbar .nav-bars{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* btn */

.btn {
    width: 300px;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--cir-dark);
    padding: 13px 0;
    overflow: hidden;
    border: none;
    border-radius: 0 0 var(--br) var(--br);
    color: var(--cir-light);
    transition: .2s ease-in-out;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.btn:hover {
    background-color: var(--cir-accent);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

.btn-danger {
    font-weight: bold;
    font-size: 15px;
    background-color: #00000000;
    display: block;
    padding: 10px 34px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #fa2020;
    border-radius: 8px;
    color: #fa2020;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #fa2020;
    color: #ffffff;
}

.btn-danger:before {
    content: "";
    background: linear-gradient(90deg, #ffffff1a, #ffffff80);
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.btn-danger:hover::before {
    left: 110px;
    transition: .5s ease-in-out;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* main */

.main {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.main-text {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

/* slideshow */

.slide {
    display: flex;
}

.slide img {
    height: 270px;
    width: 100%;
    border-radius: var(--br) 0 0 var(--br);
    object-fit: cover;
    background-color: var(--cir-dark);
}

.slideshow {
    height: 270px;
    width: 550px;
    position: relative;
    margin: auto;
    background-color: var(--cir-light);
    border-radius: var(--br);
    box-shadow: 10px 10px 7px #40414648;
}

.slideshow-prev,
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--cir-light);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    transition: .7s ease-in-out;
}

.slideshow-next {
    right: 275px;
    border-radius: 5px 0 0 5px;
}

.slideshow-prev:hover,
.slideshow-next:hover {
    background-color: var(--cir-light);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

.slideshow-main {
    color: var(--cir-dark);
    font-size: 16px;
    /* position: absolute; */
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.slideshow-text {
    padding: 20px 12px;
}

.slideshow-title {
    color: var(--cir-dark);
    font-weight: bold;
    font-size: 17px;
}

.slideshow-number-text {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slideshow-discount {
    margin-left: 20px;
    font-size: 14px;
    color: var(--cir-accent);
    font-weight: 700;
    padding: .5px 3px;
    border-radius: 20px;
    background-color: #796974;
}

.slideshow-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-price-now {
    font-weight: 700;
    color: #0b3a41;
    font-size: 18px;
    margin-right: 10px;
}

.slideshow-price-last {
    color: #7e7e7e;
    font-size: 14px;
    text-shadow: none;
}
.btn-slideshow {
    width: 275px;
    position: absolute;
    bottom: 0;
    left: 275px;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--cir-dark);
    padding: 13px 0;
    /* position: relative; */
    overflow: hidden;
    border: none;
    border-radius: 0 0 var(--br) 0;
    color: var(--cir-light);
    transition: .2s ease-in-out;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.btn-slideshow:hover {
    background-color: var(--cir-accent);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

/* lotery section */

.lotery {
    width: 425px;
    height: 270px;
    margin: 20px 80px;
    border-radius: var(--br);
    position: relative;
    box-shadow: 10px 10px 7px #40414648;
    background-color: var(--cir-light);
}

.lotery-header {
    border-radius: var(--br) var(--br) 0 0;
    background-color: var(--cir-light);
    color: var(--cir-dark);
    font-size: 19px;
    text-align: center;
    font-weight: var(--fw-bold);
    padding: 20px 0;
    font-weight: bold;
}

.lotery-main {
    color: var(--cir-dark);
    border-radius: 0 0 var(--br) var(--br);
    height: 25px;
}

.lotery-text {
    padding: 12px;
}

.event {
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
}

.lotery .event {
    display: flex;
    justify-content: center;
}

.btn-div-lotery {
    display: flex;
    justify-content: center;
}

.btn-lotery {
    width: 425px;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--cir-dark);
    padding: 13px 0;
    /* position: relative; */
    overflow: hidden;
    border: none;
    border-radius: 0 0 var(--br) var(--br);
    color: var(--cir-light);
    transition: .2s ease-in-out;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.btn-lotery:hover {
    background-color: var(--cir-accent);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* six main section */

.eight-main-items {
    background-color: var(--cir-light);
    width: 100%;
    border-radius: var(--br);
    padding-bottom: 20px;
}

.six-main-items-title {
    color: var(--cir-dark);
    /* text-align: center; */
    padding: 10px 50px;
    font-size: 19px;
}

.six-main-items {
    display: flex;
    justify-content: center;
}

.six-main-item {
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 20px 3px #2d2d2d33;
    width: 300px;
    border-radius: var(--br);
    background-color: var(--cir-light);
}

.six-main-item-image {
    object-fit: cover;
    margin-bottom: 12px;
    width: 300px;
    height: 350px;
    border-radius: var(--br) var(--br) 0 0;
}

.six-main-text {
    color: white;
}

.six-main-item-discount {
    margin-left: 20px;
    font-size: 14px;
    color: var(--cir-accent);
    font-weight: 700;
    padding: 1px 3px;
    border-radius: 20px;
    background-color: var(--cir-dark);
}

.six-main-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.six-main-item-price-now {
    font-weight: 700;
    color: var(--cir-dark);
    font-size: 18px;
    margin-right: 10px;
}

.six-main-item-price-last {
    color: #7e7e7e;
    font-size: 14px;
    text-shadow: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* tp */

.modal-tp {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: #08060066;
}

.modal-content-tp {
    color: #ffffff;
    background-color: #474646;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 6px 6px 10px 2px #1d3e562e;
}

.modal-content-tp a {
    color: #ffae00;
    cursor: pointer;
}

.modal-content-tp a:hover {
    color: #db9600;
}

.close-tp {
    color: #a1a1a1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .7s ease-in-out;
}

.close-tp:hover {
    cursor: pointer;
    color: #000;
    transition: .7s ease-in-out;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Информация */

.modal-info {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: #08060066;
}

.modal-content-info {
    background-color: #474646;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 6px 6px 10px 2px #1d3e562e;
}

.close-info {
    color: #a1a1a1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .7s ease-in-out;
}

.close-info:hover {
    cursor: pointer;
    color: #000;
    transition: .7s ease-in-out;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Рейтинг сайта */

/* .rating {
    margin-top: 10px;
}

.rating-buttons {
    display: flex;
    justify-content: center;
}

.rating-text-center {
    display: flex;
    justify-content: center;
} */

.rating-center {
    display: flex;
    justify-content: center;
}

.rating {
    width: 425px;
    height: 270px;
    margin: 20px 0 30px 0;
    border-radius: var(--br) var(--br) 21px 21px;
    position: relative;
    box-shadow: 10px 10px 7px #40414648;
    background-color: var(--cir-light);
}

.rating-header {
    border-radius: var(--br) var(--br) 0 0;
    background-color: var(--cir-light);
    color: var(--cir-dark);
    font-size: 19px;
    text-align: center;
    font-weight: var(--fw-bold);
    padding: 20px 0;
    font-weight: bold;
}

.rating-main {
    color: var(--cir-dark);
    border-radius: 0 0 var(--br) var(--br);
    height: 25px;
    padding: 12px;
}

.rating-star {
    display: flex;
    justify-content: center;
}

.rating-star:hover {
    cursor: pointer;
}

.rating-text {
    font-weight: bold;
    font-size: 17px;
    padding: 20px 0 0 0;
}

.rating-text-center {
    display: flex;
    justify-content: center;
}

.send-rating {
    width: 212.5px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--cir-dark);
    padding: 13px 0;
    overflow: hidden;
    border: none;
    border-radius: 0 0 var(--br) 0;
    color: var(--cir-light);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.send-rating:hover {
    background-color: var(--cir-light);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

.reset {
    width: 212.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--cir-dark);
    color: var(--cir-light);
    padding: 13px 0;
    overflow: hidden;
    border: none;
    border-radius: 0 0 0 var(--br);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.reset:hover {
    background-color: var(--cir-light);
    color: var(--cir-dark);
    transition: .7s ease-in-out;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* Корзина */

.cart {
    padding-top: 120px;
}

.cart-title {
    color: #ffffff;
}

.cart-row {
    display: flex;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #ffffff;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-column:last-child {
    margin-right: 0;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #ffffff;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #303030;
    background-color: #474646;
    color: #ffffff;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid #c4c4c4;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffffff;
    margin-right: 20px;
}

.cart-total-price {
    color: #ffae00;
    font-size: 1.1em;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*  order section */

.order-modal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #08060066;
}

.modal-content-order {
    color: #ffffff;
    background-color: #474646;
    margin: auto;
    padding: 20px 20px 0 20px;
    border: 1px solid #888;
    width: 26%;
    box-shadow: 6px 6px 10px 2px #1d3e562e;
    border-radius: 5px;
}

.close {
    color: #a1a1a1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
    color: #000;
    transition: .7s ease-in-out;
}

.order-section p {
    font-size: 15px;
    font-weight: bold;
    color: #6cc76c;
}

.order-section hr {
    width: 100%;
    border: none;
    box-shadow: 2px 2px 5px 1px #000000ab;
    margin-bottom: 24px;
}

.order-section label {
    font-weight: bold;
}

.order-section input {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px;
    width: 300px;
    border: 1px;
    background-color: #d6d6d6;
    color: #505050;
    box-shadow: 2px 2px 7px 4px #00000056;
}

.order-button {
    font-weight: bold;
    font-size: 14px;
    background-color: #474646;
    display: block;
    padding: 10px 30px;
    margin: 30px auto 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #2be6ff;
    border-radius: 8px;
    color: #2be6ff;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.order-button:before {
    content: "";
    background: linear-gradient(90deg, #ffffff1a, #ffffff80);
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.order-button:hover {
    background: #2be6ff;
    color: #474646;
    transition: .7s ease-in-out;
}

.order-button:hover::before {
    left: 175px;
    transition: .5s ease-in-out;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


footer {
    border-radius: var(--br) var(--br) 0 0;
    background-color: var(--cir-dark);
    margin: 80px 0 0 0;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
}

footer img {
    height: 70px;
}

.footer__link {
    text-decoration: none;
    color: var(--cir-accent);
    font-size: 1.6em;
    font-weight: bold;
    transition: .7s ease-in-out;
}

.footer__link:hover {
    color: #67ff39;
    transition: .7s ease-in-out;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-list__item {
    margin: 0 26px;
    padding: 30px 0 20px 0;
}

.social-list__link {
    text-decoration: none;
    font-size: 3rem;
    color: var(--cir-accent);
    transition: .7s ease-in-out;
}

.social-list__link:hover {
    color: #67ff39;
    transition: .7s ease-in-out;
}

@media (min-width:700px) {
    .rating {
        margin: 0;
    }

    .rating-center {
        justify-content: end;
        padding: 0 80px;
    }

    .footer-text {
        padding: 10px 0 0 50px;
    }

    .social-list {
        justify-content: start;
    }

    footer {
        text-align: start;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .footer-logo {
        padding-left: 35px;
    }

    .social-list__item {
        margin: 0 30px;
        padding: 30px 0 20px 0;
    }

    .footer__link {
        font-size: 1.8em;
        padding-left: 50px;
    }
}